<!DOCTYPE html>
<html>
  <%- include("./partials/head.ejs") %>
  <body>
    <!--Navbar-->
    <%- include("./partials/navbar.ejs") %>
    <!--Navbar-->

    <!-- Header -->
    <%- include("./partials/header.ejs") %>
    <!-- Header -->

    <!-- Page content -->
    <div class="ps-content">
      <!-- Menu Section -->
      <div class="ps-row ps-padding-64" id="menu">
        <div class="ps-col l6 ps-padding-large">
          <h1 class="ps-center"><%= producto.nombre %></h1>
          <br />
          <h4>
            <%=(producto.descripcion=="")?"Plato típico":producto.descripcion%>
          </h4>
          <p class="ps-text-grey">U$S <%= producto.precio %></p>
        </div>

        <div class="ps-col l6 ps-padding-large ps-img-menu">
          <img
            src="/img/<%= producto.imagen %> "
            class="ps-round ps-image ps-opacity-min"
            alt="<%= producto.nombre %>"
          />
        </div>
      </div>

      <!-- Footer -->
      <%- include("./partials/footer.ejs") %>
      <!-- Footer -->
    </div>
  </body>
</html>
